In [510]:
import pandas as pd
import numpy as np

In [511]:
df1 = pd.read_csv('./data/transport_node_bus_202210.csv')
df2 = pd.read_csv('./data/transport_node_bus_202211.csv')
df3 = pd.read_csv('./data/transport_node_bus_202212.csv')

In [512]:
print(f"{'10-2022':*^28}")
print(df1.isnull().sum())
print(f"{'11-2022':*^28}")
print(df2.isnull().sum())
print(f"{'12-2022':*^28}")
print(df3.isnull().sum())

**********10-2022***********
YEAR_MONTH              0
DAY_TYPE                0
TIME_PER_HOUR           0
PT_TYPE                 0
PT_CODE                 0
TOTAL_TAP_IN_VOLUME     0
TOTAL_TAP_OUT_VOLUME    0
dtype: int64
**********11-2022***********
YEAR_MONTH              0
DAY_TYPE                0
TIME_PER_HOUR           0
PT_TYPE                 0
PT_CODE                 0
TOTAL_TAP_IN_VOLUME     0
TOTAL_TAP_OUT_VOLUME    0
dtype: int64
**********12-2022***********
YEAR_MONTH              0
DAY_TYPE                0
TIME_PER_HOUR           0
PT_TYPE                 0
PT_CODE                 0
TOTAL_TAP_IN_VOLUME     0
TOTAL_TAP_OUT_VOLUME    0
dtype: int64

In [513]:
# Merge all dataframes into one
df = pd.concat([df1, df2, df3], ignore_index=True, axis=0)
print(df.isnull().sum())
display(df.head(),df.tail())

YEAR_MONTH              0
DAY_TYPE                0
TIME_PER_HOUR           0
PT_TYPE                 0
PT_CODE                 0
TOTAL_TAP_IN_VOLUME     0
TOTAL_TAP_OUT_VOLUME    0
dtype: int64

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
0,2022-10,WEEKDAY,17,BUS,45379,298,276
1,2022-10,WEEKENDS/HOLIDAY,17,BUS,45379,159,106
2,2022-10,WEEKDAY,13,BUS,80051,2211,2301
3,2022-10,WEEKENDS/HOLIDAY,13,BUS,80051,1332,1228
4,2022-10,WEEKDAY,8,BUS,3511,142,220

,YEAR_MONTH,DAY_TYPE,TIME_PER_HOUR,PT_TYPE,PT_CODE,TOTAL_TAP_IN_VOLUME,TOTAL_TAP_OUT_VOLUME
589828,2022-12,WEEKDAY,7,BUS,51011,894,934
589829,2022-12,WEEKENDS/HOLIDAY,18,BUS,70149,309,229
589830,2022-12,WEEKDAY,18,BUS,70149,1165,821
589831,2022-12,WEEKENDS/HOLIDAY,6,BUS,13139,26,224
589832,2022-12,WEEKDAY,6,BUS,13139,105,501

In [516]:
df = df.groupby(["PT_CODE","DAY_TYPE","TIME_PER_HOUR"]).mean().round().astype("int").sort_index()
display(df)

                                        TOTAL_TAP_IN_VOLUME  \
PT_CODE DAY_TYPE         TIME_PER_HOUR
1012    WEEKDAY          0                              272
                         1                                3
                         5                               20
                         6                              190
                         7                              354
...                                                     ...
99189   WEEKENDS/HOLIDAY 19                              65
                         20                              48
                         21                              38
                         22                              15
                         23                              12

                                        TOTAL_TAP_OUT_VOLUME
PT_CODE DAY_TYPE         TIME_PER_HOUR
1012    WEEKDAY          0                                74
                         1                                 1
                         5                                44
                         6                               303
                         7                               445
...                                                      ...
99189   WEEKENDS/HOLIDAY 19                               97
                         20                               91
                         21                               56
                         22                               68
                         23                               27

[200619 rows x 2 columns]

In [518]:
print(df.dtypes)

print(df.isnull().sum())

TOTAL_TAP_IN_VOLUME     int32
TOTAL_TAP_OUT_VOLUME    int32
dtype: object
TOTAL_TAP_IN_VOLUME     0
TOTAL_TAP_OUT_VOLUME    0
dtype: int64

In [ ]:
pd.to_csv('./data/.csv')